<html lang="pt-BR">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,100&display=swap"
        rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body,
        button,
        input,
        textarea {
            font: 300 14px Nunito, sans-serif;
        }

        .container {
            justify-content: center;
            align-items: center;
            align-content: center;
            display: flex;
            flex-direction: column;
        }

        .email-head {
            height: 100px;
            background-color: #fe3807;
            color: #fff;
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        .content {
            margin-top: 15px;
        }

        .content p {
            color: #666666;
        }

        .email-footer {
            height: 70px;
            color: #fe3807;
            width: 90%;
            margin-top: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            border-top: 1px #dbdbdb solid;
            font: 100 10px Nunito, sans-serif;
            flex-direction: column;
        }
    </style>
</head>



<body>
    <div class="container">
        <div class="email-head">
            <h1>{{store_name}}</h1>
        </div>

        <div class="content">
            <h2 style="font-family: 700 18px Nunito, sans-serif;">Olá {{name}}</h2>
            <p>Recebemos a sua solicitação para trocar a sua senha,</p>
            <p>para prosseguir, digite no aplicativo o código a seguir:</p>
            <h4>{{token}}</h4>
            <p>Caso não tenha sido você que solicitou a troca da sua senha, ignore este e-mail.</p>
        </div>

        <div class="email-footer">
            <span>© {{current_year}} {{store_name}} - Todos os direitos reservados.</span>
            <span>Este é um e-mail automático, em caso de dúvidas consulte a ajuda no aplicativo.</span>
        </div>
    </div>
</body>

</html>